<form  action="/hogwarts" method="post">

  <label for="first-name-input">First Name</label>
  <input type="text" name="f_name" id="first-name-input">

  <label for="last-name-input">Last Name</label>
  <input type="text" name="l_name" id="last-name-input">

  <label for="house-input">House</label>
  <select class="" name="house" id="house-input">
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age-input">Age</label>
  <input type="number" name="age" min = '12' id="age-input">

  <input type="submit" name="" value="Add Student">

</form>
